<ion-content id=outer>
  <div class="warning">
    <div id=inner>
      <div class="logo">
        <img src="assets/imgs/icon.png" width="180" height="180">
        <!-- <ion-img src="assets/imgs/school-buss-tracker-icon.png" width="280" height="100"></ion-img> -->
      </div>
      <form #loginForm="ngForm">
        <ion-list>
          <!-- <div class="temp"> -->
            <ion-item class="itemDiv">
              <ion-label floating>Email/Mobile No.</ion-label>
              <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
            </ion-item>
          <!-- </div> -->
          <!-- <div class="temp"> -->
            <ion-item class="itemDiv">
              <ion-label floating>Password</ion-label>
              <ion-input [(ngModel)]="password" *ngIf="showPassword" type="text" name="password" required></ion-input>
              <ion-input type="password" *ngIf="!showPassword" [(ngModel)]="password" name="password" required></ion-input>

              <button ion-button clear item-end (click)="toggleShowPassword()">
                <ion-icon style="font-size: 1.6em;" *ngIf="showPassword" name="eye" color="light"></ion-icon>
                <ion-icon style="font-size: 1.6em;" *ngIf="!showPassword" name="eye-off" color="light"></ion-icon>
              </button>
            </ion-item>
          <!-- </div> -->
        </ion-list>
        <button ion-button block color="customCol" [disabled]="!loginForm.form.valid" (click)="userLogin(loginForm)">SIGN IN</button>
      </form>
    </div>
  </div>
</ion-content>