page-login {
      
    .warning {
        position: absolute;
        // padding: 20% 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.25);
        backdrop-filter: contrast(4) blur(20px);
    }

//     .item-ios.item-label-stacked [item-right], .item-ios.item-label-floating [item-right], .item-ios.item-label-stacked [item-end], .item-ios.item-label-floating [item-end] {
//         margin-top: 0px; 
//         margin-bottom: -23px;
//     }

//     .item-md.item-label-stacked [item-right], .item-md.item-label-floating [item-right], .item-md.item-label-stacked [item-end], .item-md.item-label-floating [item-end] {
//         margin-top: 0px; 
//        margin-bottom: -23px;
//    }

    #outer {
        // background: url("../assets/imgs/1-map.png") no-repeat center center fixed;
        background: url("../assets/imgs/katenetschool2010a_2560-min.jpg") no-repeat center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        text-align: center;
    }
    #inner{
        
        padding-left: 10px;
        padding-right: 10px;
        // padding-top: 30px;
        padding-bottom: 30px;
        width: 85%;
        top: 7%;
        margin: 0 auto;
        position: relative;
        background-color: rgba(25, 25, 26, 0.4);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(59, 70, 61);
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid white;
        border-radius: 15px;
        filter: alpha(opacity=50); /* For IE8 and earlier */
    }

    .logo {
        // margin: 0 auto;
        // position: relative;
    }
    .itemDiv {
        background-color: transparent;
        color: #ffffff;
    }
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
        color: #FFF;
        font-size: 1.5em;
        letter-spacing: 1.5px;
    }

    ion-input{
        font-size: 1.2em;
        letter-spacing: 1.5px;
    }

    button {
        font-size: 1.5em;
        letter-spacing: 1.5px;
    }

    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #fff;
        -webkit-box-shadow: inset 0 0px 0 0 #fff;
        box-shadow: inset 0 -1px 0 0 #fff;
    }

    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #fff;
        -webkit-box-shadow: inset 0 -1px 0 0 #fff;
        box-shadow: inset 0 -1px 0 0 #fff;
    }

    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #fff;
        -webkit-box-shadow: inset 0 -1px 0 0 #fff;
        box-shadow: inset 0 -1px 0 0 #fff;
    }

    .item-ios.item-input.item-input-has-focus .item-inner,
    .item-ios.item-input.input-has-focus .item-inner {
        border-bottom-color: #fff;
        -webkit-box-shadow: inset 0 -1px 0 0 #fff;
        box-shadow: inset 0 -1px 0 0 #fff;
    }

    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating] {
        color: #fff;
    }

    .item-input-has-focus .label-ios[stacked],
    .input-has-focus .label-ios[stacked],
    .item-input-has-focus .label-ios[floating],
    .input-has-focus .label-ios[floating] {
        color: #fff;
    }

    .item-md, .item-ios{
        background: transparent;
        color: #fff;
        padding-right: 0px;
        padding-left: 0px;
    }

    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
        border-bottom-color: #fff;
        -webkit-box-shadow: inset 0 -1px 0 0 #fff;
        box-shadow: inset 0 -1px 0 0 #fff;
    }

    .list-md .item-input.item-input-has-focus:last-child,
    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: #fff;
        -webkit-box-shadow: inset 0 -1px 0 0 #fff;
        box-shadow: inset 0 -1px 0 0 #fff;
    }
}
