<ion-header>

  <ion-navbar color="customCol">
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card *ngFor="let dataofstudent of profilesStudent">
    <div align="center" style="margin-top: 20%;">
      <img class="profile-image" src="assets/imgs/dummy_user.jpg">
      <h6 style="font-size: 2.4rem;">{{dataofstudent.students.name.fname}}</h6>
    </div>

    <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
      <ion-col col-4 style="font-size: 16px;color: gray;">
        <ion-icon name="school"></ion-icon>&nbsp;School
      </ion-col>

      <ion-col col-8 style="text-align: left;font-size: 18px;color:black;">
        :&nbsp;{{dataofstudent.students.school.schoolName}}</ion-col>
    </ion-row>

    <ion-row style="padding:2%;">
      <ion-col col-4 style="font-size: 16px;color: gray;">
        <ion-icon name="pin"></ion-icon>&nbsp;School Add
      </ion-col>
      <ion-col col-8 style="text-align: left;font-size: 18px;color:black;">
        :&nbsp;{{dataofstudent.students.school.address}}</ion-col>
    </ion-row>
    <h6 style="padding:4%;">SCHOOL LOCATION</h6>
    <ion-row style="padding:2%;">
      <div id="{{dataofstudent.students.name.lname}}{{dataofstudent.students.name.fname}}"
        style="height: 200px;width: 390px;"></div>
    </ion-row>
    <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
      <ion-col col-4 style="font-size: 16px;color: gray;">
        <ion-icon name="pin"></ion-icon>&nbsp;Class
      </ion-col>
      <ion-col col-8 style="text-align: left;font-size: 18px;color:black;">
        :&nbsp;{{dataofstudent.students.class.className}}</ion-col>
    </ion-row>
    <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
      <ion-col col-4 style="font-size: 16px;color: gray;">
        <ion-icon name="people"></ion-icon>&nbsp;Gender
      </ion-col>
      <ion-col col-8 style="text-align: left;font-size: 18px;color:black;">:&nbsp;{{dataofstudent.students.gender}}
      </ion-col>
    </ion-row>
    <ion-row style="margin:1%;border-bottom: 1px solid lightgrey;">
      <ion-col col-4 style="font-size: 16px;color: gray;">
        <ion-icon name="water"></ion-icon>&nbsp;Blood Group
      </ion-col>
      <ion-col col-8 style="text-align: left;font-size: 18px;color:black;">:&nbsp;{{dataofstudent.students.bg}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 style="font-size: 16px;color: gray;">
        <ion-icon name="home"></ion-icon>&nbsp;Home Add
      </ion-col>
      <ion-col col-8 style="text-align: left;font-size: 18px;color:black;">:&nbsp;{{dataofstudent.students.address}}
      </ion-col>
    </ion-row>

    <h6 style="padding:4%; ">PICKUP LOCATION</h6>
    <ion-row style="padding:2%;">
      <div id="{{dataofstudent.students.name.fname}}" style="height: 200px;width: 390px;"></div>
    </ion-row>
  </ion-card>
  <h5 style="padding:4%;">Guardian</h5>
  <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
    <ion-col col-4 style="font-size: 16px;color: gray;">
      <ion-icon name="gender"></ion-icon>&nbsp;Name
    </ion-col>
    <ion-col col-8 style="text-align: left;font-size: 18px;color:black;">:&nbsp;{{profilesParentname}}</ion-col>
  </ion-row>
  <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
    <ion-col col-4 style="font-size: 16px;color: gray;">
      <ion-icon name="gender"></ion-icon>&nbsp;Relation
    </ion-col>
    <ion-col col-8 style="text-align: left;font-size: 18px;color:black;">:&nbsp;{{profilesParenterelation}}</ion-col>
  </ion-row>
  <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
    <ion-col col-4 style="font-size: 16px;color: gray;">
      <ion-icon name="gender"></ion-icon>&nbsp;Phone
    </ion-col>
    <ion-col col-8 style="text-align: left;font-size: 18px;color:black;">:&nbsp;{{profilesParentphone}}</ion-col>
  </ion-row>
  <ion-row style="margin:2%;">
    <ion-col col-4 style="font-size: 16px;color: gray;">
      <ion-icon name="gender"></ion-icon>&nbsp;Email
    </ion-col>
    <ion-col col-8 style="text-align: left;font-size: 18px;color:black;">:&nbsp;{{profilesParentemail}}</ion-col>
  </ion-row>
</ion-content>