<ion-header>
  <ion-navbar color="customCol">
    <ion-title>Bus Tracking</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="map_canvas_single_device" style="height: 100%; width: 100%;">
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="customCol">
    <ion-row>
      <ion-col col-33>
        <p style="font-size: 1.2em; margin: 0px; padding:0px; color:#fff;" *ngIf="!vehicle_speed">Speed 0 km/h</p>
        <p style="font-size: 1.2em; margin: 0px; padding:0px;; color:#fff;" *ngIf="vehicle_speed">Speed {{vehicle_speed}} km/h</p>
      </ion-col>
      <ion-col col-66>
        <p style="font-size: 1.2em; margin: 0px; padding:0px; color:#fff;" *ngIf="!todays_odo">Today Distance 0 km/h</p>
        <p style="font-size: 1.2em; margin: 0px; padding:0px; color:#fff;" *ngIf="todays_odo">Today Distance {{todays_odo | number : '1.0-2'}} km</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>