page-history-map {
    #map_canvas {
        height: 100%;
        width: 100%;
    }
    .datetime-md, 
    .datetime-ios {
        // padding: 13px 8px 0px 0px;
        padding: 0px;
        // margin: -8%;
    }

    .text-input-md ,
    .text-input-ios{
        margin: -1px;
        padding: 0;
        // width: calc(100% - 8px - 8px);
        width: auto;
    }

    .avtar img{
        width: 20px;
        height: 20px;
        margin-right: 2.5%;
        margin-top: 4%;
    }
    .col1{
        min-width: 150px;
     }
}
