<ion-content padding-top>
  <div align="center" style="margin-top: 20%;">
    <img class="profile-image" src="assets/imgs/dummy_user.jpg">
    <h6 style="font-size: 2.4rem;">{{userdetails.fn}}&nbsp;{{userdetails.ln}}</h6>
    <div style="font-size:15px; text-align: center;">{{userdetails.email}}</div><br />
    <div style="font-size:12px; text-align: center;">{{userdetails.phn}}</div>
  </div>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-icon ios="ios-ionic" md="md-ionic" item-start></ion-icon>
        <ion-label>Version</ion-label>
        <span item-end>{{aVer}}</span>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon ios="ios-log-out" md="md-log-out" item-start></ion-icon>
        Log Out
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>