<ion-header>

  <ion-navbar color="customCol">
    <ion-title>{{nameofmonth}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let childdata of chidReport">
    <ion-card-header style="background-color: #e2e2e2;">
      <ion-row>
        <ion-col col-6><ion-icon name="contact"></ion-icon>&nbsp;{{childName}}</ion-col>
        <ion-col col-6 style="text-align: right;">{{childdata.data.createdAt|date:'medium'}}</ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-6 style="text-align: center; background-color: #009ef1;">
          <h1 style="color: #000;">{{childdata.data.schoolTrip.startTime|date:'shortTime'}}</h1>
          <h4 style="color:#757575;">PICKUP</h4>
        </ion-col>
        <ion-col col-6 style="text-align: center; background-color: #faa11f;">
          <h1 style="color: #000;">{{childdata.data.schoolTrip.endTime|date:'shortTime'}}</h1>
          <h4 style="color:#757575;">DROP</h4>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col col-6><ion-icon name="calendar"></ion-icon>&nbsp;Date</ion-col>
        <ion-col col-6 style="text-align: right;">{{childdata.data.createdAt|date:'medium'}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6><ion-icon name="swap"></ion-icon>&nbsp;Direction</ion-col>
        <ion-col col-6 style="text-align: right;">{{childdata.data.createdAt|date:'medium'}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6><ion-icon name="stats"></ion-icon>&nbsp;Status</ion-col>
        <ion-col col-6 style="text-align: right;">{{childdata.data.createdAt|date:'medium'}}</ion-col>
      </ion-row>
      <ion-row>
      
      <ion-col col-12 style="text-align: center; background-color: #343a40; color:#fff">
        <ion-icon name="pin" color="customCol"></ion-icon>&nbsp;Track
      </ion-col>
    </ion-row> -->

    </ion-card-content>
  </ion-card>
</ion-content>